<button [routerLink]="['/game',gameId,'character-selection']">go back</button>
<h2>Game name</h2>
<button>log out</button>

<br><br>

<form (ngSubmit)="createCharacter(form)" [formGroup] = form>
    <label for="name">Character name</label><br>
    <input formControlName="name" type="text" name="user" placeholder="name"><br>

    <label for="racialLineage">Racial Lineage</label><br>
    <input formControlName="racialLineage" type="text" name="racialLineage" placeholder="Racial Lineage"><br>

    <label for="country">Country</label><br>
    <input formControlName="country" type="text" name="country" placeholder="Country"><br>

    <label for="profession">Profession</label><br>
    <input formControlName="profession" type="text" name="user" placeholder="profession"><br>

    <br>
    <label for="px">Px</label><br>
    <p>{{px}}</p><br>

    <br>
    <label for="physical">Physical</label><br>
    <input formControlName="physical" type="number" readonly name="physical" placeholder="Physical">
    <button>+</button><button>-</button><br>

    <label for="skill">Skill</label><br>
    <input formControlName="skill" type="number" readonly name="skill" placeholder="Skill">
    <button>+</button><button>-</button><br>

    <label for="mental">Mental</label><br>
    <input formControlName="mental" type="number" readonly name="mental" placeholder="Mental">
    <button>+</button><button>-</button><br>

    <label for="Social">Social</label><br>
    <input formControlName="social" type="number" readonly name="social" placeholder="Social">
    <button>+</button><button>-</button><br>

    <br>
    <label for="athletics">Athletics</label><br>
    <input formControlName="athletics" type="number" readonly name="athletics" placeholder="Athletics">
    <button>+</button><button>-</button><br>
    <label for="knowledge">Knowledge</label><br>
    <input formControlName="knowledge" type="number" readonly name="knowledge" placeholder="Knowledge">
    <button>+</button><button>-</button><br>
    <label for="interpretation">Interpretation</label><br>
    <input formControlName="interpretation" type="number" readonly name="interpretation" placeholder="Interpretation">
    <button>+</button><button>-</button><br>
    <label for="perception">Perception</label><br>
    <input formControlName="perception" type="number" readonly name="perception" placeholder="Perception">
    <button>+</button><button>-</button><br>
    <label for="caution">Caution</label><br>
    <input formControlName="caution" type="number" readonly name="caution" placeholder="Caution">
    <button>+</button><button>-</button><br>
    <label for="conjuration">Conjuration</label><br>
    <input formControlName="conjuration" type="number" readonly name="conjuration" placeholder="Conjuration">
    <button>+</button><button>-</button><br>

    <br><br>
    <button type="submit">Create</button>
</form>


