<h2>Create new Account</h2>

<form (ngSubmit)="createUser(form)" [formGroup]="form">

    <label for="email">Email</label><br>
    <input formControlName= "email" type="email" name="email" placeholder="email"><br>
    <p class="error-msg" *ngIf="emailField.hasError('required') && emailField.touched">Email is required</p>
    <p class="error-msg" *ngIf="emailField.hasError('email')">Email is invalid</p>

    <label for="name">Name</label><br>
    <input formControlName= "name" type="text" name ="name" placeholder="Name"><br>
    <p class="error-msg" *ngIf="nameField.hasError('required') && nameField.touched">Name is required</p>


    <label for="password">Password</label><br>
    <input formControlName= "password" type="password" name="password" placeholder="password"><br>
    <p class="error-msg" *ngIf="passwordField.hasError('required') && passwordField.touched">Password is required</p>

    <br><br>
    <button type="input">Create user</button>


</form>

<br><br>
<button type="submit" (click) = goToLogin()>Login</button>
