<button (click)="goBack()">go back</button>
<h2>Game name</h2>
<button>log out</button>

<br><br>

<form>
    <label for="name">Character name</label><br>
    <input type="text" name="user" placeholder="name"><br>

    <label for="racialLineage">Racial Lineage</label><br>
    <input type="text" name="racialLineage" placeholder="Racial Lineage"><br>

    <label for="country">Country</label><br>
    <input type="text" name="country" placeholder="Country"><br>

    <label for="profession">Profession</label><br>
    <input type="text" name="user" placeholder="profession"><br>

    <br>
    <label for="px">Px</label><br>
    <input type="number" name="pxr" placeholder="Px"><br>

    <br>
    <label for="physical">Physical</label><br>
    <input type="number" name="physical" placeholder="Physical"><br>

    <label for="skill">Skill</label><br>
    <input type="number" name="skill" placeholder="Skill"><br>

    <label for="mental">Mental</label><br>
    <input type="number" name="mental" placeholder="Mental"><br>

    <label for="Social">Social</label><br>
    <input type="number" name="social" placeholder="Social"><br>

    <br>
    <label for="athletics">Athletics</label><br>
    <input type="number" name="athletics" placeholder="Athletics"><br>
    <label for="knowledge">Knowledge</label><br>
    <input type="number" name="knowledge" placeholder="Knowledge"><br>
    <label for="interpretation">Interpretation</label><br>
    <input type="number" name="interpretation" placeholder="Interpretation"><br>
    <label for="perception">Perception</label><br>
    <input type="number" name="perception" placeholder="Perception"><br>
    <label for="caution">Caution</label><br>
    <input type="number" name="caution" placeholder="Caution"><br>
    <label for="conjuration">Conjuration</label><br>
    <input type="number" name="conjuration" placeholder="Conjuration"><br>

    <br><br>
    <button type="submit">Update</button>
</form>
