<button [routerLink]="['/game',gameId,'master','character-selection']">go back</button>
<h2>{{playerName}}</h2>
<button (click) = "logout()">log out</button>

<br><br>

<form  (ngSubmit)="updateCharacter(form)" [formGroup] = form>
    <label for="name">Character name</label><br>
    <input formControlName="name" type="text" name="user" placeholder="name"><br>

    <label for="racialLineage">Racial Lineage</label><br>
    <input formControlName="racialLineage" type="text" name="racialLineage" placeholder="Racial Lineage"><br>

    <label for="country">Country</label><br>
    <input formControlName="country" type="text" name="country" placeholder="Country"><br>

    <label for="profession">Profession</label><br>
    <input formControlName="profession" type="text" name="user" placeholder="profession"><br>

    <br>
    <label for="px">Px</label><br>
    <input formControlName = "px" type="number" name="px"><br>

    <br>
    <label for="physical">Physical</label><br>
    <input formControlName="physical" type="number" rname="physical"><br>

    <label for="skill">Skill</label><br>
    <input formControlName="skill" type="number" name="skill" placeholder="Skill"><br>
    

    <label for="mental">Mental</label><br>
    <input formControlName="mental" type="number" name="mental" placeholder="Mental"><br>


    <label for="Social">Social</label><br>
    <input formControlName="social" type="number" name="social" placeholder="Social"><br>


    <br>
    <label for="athletics">Athletics</label><br>
    <input formControlName="athletics" type="number" name="athletics" placeholder="Athletics"><br>

    <label for="knowledge">Knowledge</label><br>
    <input formControlName="knowledge" type="number" name="knowledge" placeholder="Knowledge"><br>

    <label for="interpretation">Interpretation</label><br>
    <input formControlName="interpretation" type="number" name="interpretation" placeholder="Interpretation">
    <br>
    <label for="perception">Perception</label><br>
    <input formControlName="perception" type="number" name="perception" placeholder="Perception">
    <br>
    <label for="caution">Caution</label><br>
    <input formControlName="caution" type="number" name="caution" placeholder="Caution">
   <br>
    <label for="conjuration">Conjuration</label><br>
    <input formControlName="conjuration" type="number" name="conjuration" placeholder="Conjuration">
 <br>
    <br><br>
    <button  type="submit" >Update</button>
</form>